<div class="btn-group"
     role="group"
     aria-label="Basic example">
  <button type="button"
          class="btn btn-secondary"
          [disabled]="(countingBy$ | async)===1"
          (click)="setCountBy(1)">1</button>
  <button type="button"
          class="btn btn-secondary"
          [disabled]="(countingBy$ | async)===3"
          (click)="setCountBy(3)">3</button>
  <button type="button"
          class="btn btn-secondary"
          [disabled]="(countingBy$ | async)===5"
          (click)="setCountBy(5)">5</button>
</div>
